/** Add any CSS you need to this file. */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
}
main {
  margin-top: 250px;
  min-height: calc(100vh - 151px - 235px);
}
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

form label {
  display: block;
}

/*Contact Form CSS*/

#user-info-form * {
  box-sizing: border-box;
  white-space: nowrap;
}

#user-info-form {
  width: 400px;
  margin: 250px auto;
  white-space: nowrap;
  min-height: calc(100vh - 215px - 235px);
}
#user-info-form div {
  margin: 5px 0;
}

#user-info-form input,
#user-info-form textarea {
  padding: 5px;
  font-size: 1.2em;
  border: 1px solid #616f39;
  border-radius: 5px;
}

.name {
  display: table-row;
  flex-direction: row;
}

.user-firstname-div,
.user-lastname-div,
.user-address-div,
.user-postal-div,
.user-city-div,
.user-province-div {
  display: table-cell;
}
.user-lastname-div,
.user-postal-div,
.user-province-div {
  padding-left: 5px;
}

#user-firstname,
#user-lastname,
.contact-city,
.contact-province,
.buttons input[type="submit"],
.buttons input[type="reset"] {
  width: 197.7px;
}

#user-email,
#user-phone {
  width: 400px;
}
#user-address {
  width: 295.6px;
}

#user-postal {
  width: 100px;
}

#user-info-form textarea {
  width: 400px;
}

#user-info-form input[type="submit"] {
  background-color: #1b1919;
  color: white;
}

#user-info-form input[type="submit"]:hover {
  background-color: rgb(80, 80, 80);
  cursor: pointer;
}

#user-info-form input[type="reset"] {
  background-color: rgb(172, 2, 2);
  color: white;
}

#user-info-form input[type="reset"]:hover {
  background-color: rgb(224, 40, 40);
  cursor: pointer;
}

::-webkit-input-placeholder {
  font-size: 16px;
}
::-moz-placeholder {
  font-size: 16px;
}
:-ms-input-placeholder {
  font-size: 16px;
}
::placeholder {
  font-size: 16px;
}
